<ion-header>
  <ion-navbar color="dark" align-title="center">
    <ion-buttons start>
      <button ion-button icon-only color="white" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Show
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <ion-list *ngFor="let p of products">

    <ion-card (tap)="openProductModal(p)"  *ngIf=p.available>
      <img class="card-image" src="../../assets/Images/products/{{p.photoPath}}"/>
      <div class="card-title">{{p.name}}</div>
      <p class="card-subtitle">${{p.price}}</p>
    </ion-card>

  </ion-list> -->

</ion-content>
