page-cart {
<<<<<<< Updated upstream
  ion-note {
    color: green !important;
  }
  .empty {
    text-align: center;
    padding-top: 55%;
    h2 {
      color: #8c8c8c;
    }
=======
  img.image{
    width: 40%;
    height: auto;
>>>>>>> Stashed changes
  }
}
