/// @prop - Border radius of the segment button
page-product {

	ion-card{
		position: relative;
    	text-align: center;
	}

	.card-image{
		max-height: 100px;
		object-fit: cover;
	}

	.card-title{
			position: absolute;
    	top: 25%;
    	font-size: 1.0em;
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	}

	.card-subtitle{
			top: 75%;
			font-size: .8em;
	    position: absolute;
	    width: 100%;
	    color: #fff;
	}

	.collection-title{
		font-size: 1.5em;
		font-weight: bold;
		top: 80%;
		width: 93%;
		color: #fff;
	}

	.slide{
		background-size: 100%, 100%;
		background-repeat: no-repeat;
		padding: 0px;
	}

	div.slide-zoom{
		bottom: 0;
	}

	.collectionCard{

	}

	.collectionImage{
		// height: auto;
    // width: auto;
    max-width: 100%;
    max-height: 300px;
		// position: absolute;

		object-fit: cover;
	}

}
