/// @prop - Border radius of the segment button
page-product {

	.slides{
		max-height: 40%;
	}

	.collection-image{
<<<<<<< HEAD
		// width: 100%;
		background-size: cover;
=======
		width: 100%;
		max-width: 100%;
    max-height: 300px;
		object-fit: cover;
>>>>>>> 2e101eca158fecaf14c372eeec2d7c16018cf354
	}

	.collection-name{
		z-index: 100;
  	position: absolute;
  	color: white;
  	font-size: 22px;
  	font-weight: bold;
  	top: 40%;
  	left: 25%;
		right: 25%;
		bottom: 40%;
  	margin: auto;
	}
	.collection-name-blur{
			z-index: 99;
  		position: absolute;
  		top: 40%;
  		left: 25%;
			right: 25%;
			bottom: 40%;
  		margin: auto;
			border-radius: 60%;
			width: 50%;
			height: 25%;
			background: black;
			filter: blur(15px);

	}

	ion-card{
		position: relative;
    text-align: center;
		padding: 0px;
		min-height: 180px;
		max-height: 180px;
	}

	.card-image{
		max-height: 100px;
		object-fit: cover;
	}

	.card-title{
		padding: 0px;
		font-size: .9em;
		font-weight: bold;
	}

	.card-price{
		padding-top: 5px;
		padding-bottom: 10px;
		font-size: .8em;
	}



	.collection-title{
		font-size: 1.5em;
		font-weight: bold;
		top: 80%;
		width: 93%;
		color: #fff;
	}

	.slide{
		background-size: 100%, 100%;
		background-repeat: no-repeat;
		padding: 0px;
	}

	div.slide-zoom{
		bottom: 0;
	}

	.collectionCard{

	}

	.collectionImage{
		// height: auto;
    // width: auto;
    max-width: 100%;
    max-height: 300px;
		// position: absolute;

		object-fit: cover;
	}

}
