<ion-header>
  <ion-navbar color="dark" align-title="center">

    <ion-buttons start>
  		<button ion-button menuToggle icon-only>
      		<ion-icon name='menu'></ion-icon>
    	</button>
    </ion-buttons>

    <ion-title>Products</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides loop="true" pager="true" autoplay="5000" speed="1000" *ngIf="collections.length > 1">
  	  <ion-slide class="slide" *ngFor="let c of collections" (tap)="openCollectionModal(c)">
        <div>
          <img class="collection-image" [src]="c.image"/>

        </div>
        <h1 class="collection-name">
          {{c.name}}
        </h1>

  	  </ion-slide>

  </ion-slides>

  <ion-list>
    <ion-grid>
      <ion-row wrap>
    		<ion-col width-50 *ngFor="let p of allAvailable">
    			<ion-card (tap)="openProductModal(p)">
            <img class="card-image" src="../../assets/Images/{{p.photoPath}}" />
            <ion-card-content>
              <ion-card-title class="card-title">
                {{p.name}}
              </ion-card-title>
              <p class="card-price">${{p.price}}</p>
            </ion-card-content>

  		    </ion-card>
    		</ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
