page-product-content {
	.product h1{
		text-align: center;
	}
	.product h1 span {
		font-weight: bold;
	}

	ion-content{
		color: black;
	}
	ion-content h1 {
		margin-top: 2%;
	}
	.cart {
		text-align: center;
	}

}
